.line {
    background-color: #F2F3F5;
    border-radius: 999px;
    height: 2px;
    width: 100%;
}

.lineH {
    width: 2px !important;
    height: 100%;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group .title {
    padding-left: 10px;

    font-size: 16px;
    color: #848B99;
}

.input-group input {
    height: 40px;
    padding: 8px 24px;

    border-radius: 999px;

    font-size: 15px;
    color: #848B99;
}

.input-group input::placeholder {
    color: #DADFE8;
}